.main-page {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    background: url("../../assets/img/main-page/right-animals.png");
    background-size: auto;
    background-position: right 0 bottom 0;
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-page {
        background-image: url('../../assets/img/main-page/right-animals@2x.png');
    }
}


.main-page h1 {
    display: block;
    color: #111;
    word-spacing: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.2rem;
    text-shadow: 0 1px 0 #111;
    margin: 0;
}

.br-tablet {
    display: none;
}

@media (max-width: 1024px) {
    .br-desktop {
        display: none;
    }
    .br-tablet {
        display: inline-block;
    }

    .main-page {
        align-items: normal;
        background-position: center bottom 0;
        background-size: 120%;
    }

    .main-page h1 {
        margin-top: 7rem;
        font-size: 6rem;
        line-height: 7.5rem;
        font-weight: 600;
    }
}

@media (max-width: 780px) {
    .main-page h1 {
        margin-top: 6rem;
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media (max-width: 450px) {
    .br-tablet {
        display: none;
    }

    .main-page h1 {
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .main-page {
        background-size: 150%;
    }
}