.menu {
  position: relative;
}

.list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .list {
    margin-top: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    display: flex;
    margin: 0;
  }
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.link {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #111111;
}
.link:hover {
  color: #ffc107;
}
.link:global(.active) {
  color: #ffc107;
}
@media screen and (min-width: 768px) {
  .link {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .link {
    font-size: 20px;
    line-height: 1.35;
  }
}

.myСomponent.dark .link {
  color: #c3bfbf;
}

.myСomponent.dark .link:hover {
  color: #ffc107;
}
