.wrapper {
  width: 28px;
  height: 28px;

  margin-right: 12px;

  border: 2px solid #ffc107;
  border-radius: 50%;

  overflow: hidden;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 40px;
    height: 40px;
  }
}

.image {
  display: block;
}
