.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 28px;
}
@media screen and (min-width: 1280px) {
  .navigation {
    width: 100%;
    justify-content: space-between;
    margin-left: 160px;
  }
}

.burger {
  cursor: pointer;
  stroke: #ffc107;
}
@media screen and (min-width: 768px) {
  .burger {
    margin-left: 22px;
  }
}
